*.swp
.DS_Store
.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
library.lo
libtool
ltmain.sh
missing
mkinstalldirs
redis.lo
redis_array.lo
redis_array_impl.lo
redis_session.lo
run-tests.php
